<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100" data-bs-theme="auto">
<head>
    <head th:fragment="configFragment">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>Tiffy</title>
        <!--  공통으로 쓰이는 CSS 파일  -->
        <th:block th:replace="common/styles"></th:block>

        <!-- 컨텐츠 페이지의 CSS 영역 -->
        <th:block layout:fragment="css">
            <link rel="stylesheet" href="css/cover.css"/>
        </th:block>

        <!-- 공통 Javascript -->
        <th:block th:replace="common/scripts"></th:block>
    </head>
</head>
<th:block layout:fragment="content">
    <body class="d-flex h-100 text-center text-bg-dark" style="background: url(images/index-bg.jpg); background-size: cover;">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Tiffy</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
                    <a class="nav-link fw-bold py-1 px-0" href="/exchange/">교환 게시판</a>
                    <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1 id="target">Tiffy로 깨끗한 지구 만들기</h1>
            <p class="lead" id="fade-in-text">1인당 평균 음식물 쓰레기 배출량 95kg, 아깝지 않으신가요?<br>남은 식재료, 함께 나눠요.<br>더 나은 환경을 위해 한 걸음 더.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
            </p>
        </main>
        <footer class="mt-auto text-white-50">
            <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
        </footer>
    </div>
    <!-- 컨텐츠 페이지의 Script 영역 -->
    <th:block layout:fragment="script">
        <script src="https://unpkg.com/type-hangul"></script>
        <script>
            const $target = document.querySelector('#target');
            const fadeInText = document.getElementById('fade-in-text');
            $target.addEventListener('th.afterType', function (e) {
                fadeInText.classList.add('visible');
            });
            TypeHangul.type('#target', {intervalType: 50});
        </script>
    </th:block>
    </body>
</th:block>
</html>